{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SystemApp{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="auth-container">
        

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message-item {{ message.tags }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>